@layout('layouts.default')

@section('content')
<section>
  <h1>Index page</h1>
  <p>{{ lorem }}</p>
  <div class="abc">
    <div class="def">
      <a href="javascript:void(0);" class="btn-a">aaa</a>
    </div>
  </div>
</section>
@endsection